# Default RHEL 10 config file is based on
# <https://gitlab.com/chrony/chrony/-/blob/4.8/examples/chrony.conf.example2>
# with a minor patch applied by
# <https://gitlab.com/redhat/centos-stream/rpms/chrony/-/blob/c10s/chrony.spec>

{% if chrony_stat_ptp_kvm.stat.exists %}
refclock PHC /dev/ptp_kvm poll 2
{% endif %}

{% if chrony_dhcp|default(false) %}
sourcedir /run/chrony-dhcp
{% endif %}

{% for s in chrony_sources|default([]) %}
{{ s }}
{% endfor %}

driftfile /var/lib/chrony/drift

makestep 1.0 {{ (ansible_facts.virtualization_role == "guest") | ternary("-1", "3") }}

rtcsync

authselectmode prefer

{% for a in chrony_allow|default([]) %}
allow {{ a }}
{% endfor %}

# requires -r option to be effective
dumpdir /var/lib/chrony

ntsdumpdir /var/lib/chrony

leapseclist /usr/share/zoneinfo/leap-seconds.list

logdir /var/log/chrony
#log measurements statistics tracking

allow ::/128
allow 127.0.0.0/8
