# {{ mailstore_oid }} - mail storage
# {{ mailstore_oid }}.1 - attributes
# {{ mailstore_oid }}.2 - classes
#
# 'mail' is defined in RFC 4524
# 'mailQuota' is defined by Netscape Messaging Server
# 'mailRoutingAddress' is defined by Netscape Messaging Server
# 'memberPrincipal' is defined by FreeIPA (we don't inherit from 'groupOfPrincipals' because it makes 'cn' mandatory)
#
dn: cn=schema
attributeTypes: ( {{ mailstore_oid }}.1.1 NAME 'mailLocalPart' DESC 'The local-part of an email address' EQUALITY caseIgnoreMatch SUBSTR caseIgnoreSubstringsMatch SYNTAX 1.3.6.1.4.1.1466.115.121.1.15 SINGLE-VALUE X-ORIGIN 'robots mail schema' )
attributeTypes: ( {{ mailstore_oid }}.1.2 NAME 'mailDomainName' DESC 'The fully qualified domain name for mail routing' EQUALITY caseIgnoreMatch SUBSTR caseIgnoreSubstringsMatch SYNTAX 1.3.6.1.4.1.1466.115.121.1.15 SINGLE-VALUE X-ORIGIN 'robots mail schema' )
objectClasses: ( {{ mailstore_oid }}.2.1 NAME 'mailDomain' DESC 'Mail domain configuration' SUP top STRUCTURAL MUST mailDomainName MAY ( mail $ mailQuota ) X-ORIGIN 'robots mail schema' )
objectClasses: ( {{ mailstore_oid }}.2.2 NAME 'mailAlias' DESC 'Mail alias in a domain' SUP top STRUCTURAL MUST ( mail $ mailRoutingAddress ) MAY mailLocalPart X-ORIGIN 'robots mail schema' )
objectClasses: ( {{ mailstore_oid }}.2.3 NAME 'mailBox' DESC 'Mailbox in a domain' SUP top STRUCTURAL MUST mail MAY ( mailLocalPart $ mailQuota $ memberPrincipal ) X-ORIGIN 'robots mail schema' )
