uris = {% for hostname in groups["ipaservers_public"] %} ldaps://{{ hostname }}{% endfor +%}
dn = uid=dovecot,cn=sysaccounts,cn=etc,dc=ipa,dc=robots,dc=org,dc=uk
dnpass = {{ dovecot_password }}

tls_ca_cert_file = /etc/ipa/ca.crt
tls_require_cert = demand

auth_bind = yes
auth_bind_userdn = mail=%u,cn=mail,dc=ipa,dc=robots,dc=org,dc=uk

ldap_version = 3

base = cn=mail,dc=ipa,dc=robots,dc=org,dc=uk

scope = onelevel

user_attrs = memberPrincipal=k5principals,mailQuota=quota_rule=*:storage=%$

user_filter = (&(objectClass=mailBox)(mail=%u))

#pass_attrs = mail=user,memberPrincipal=userdb_k5principals,mailQuota=userdb_quota_rule=*:storage=%$

pass_filter = (&(objectClass=mailBox)(mail=%u))

iterate_filter = (objectClass=mailBox)

iterate_attrs = mail=user

debug_level = 0
