<DirectoryMatch "^/srv/www/[^/]+/html/">
    AllowOverride None
    Require all granted
</DirectoryMatch>

# This file is named _mta-sts.conf so that it sorts after ssl.conf, which
# defines the default virtual host.

{% for domain in mta_sts_domains %}
MDomain mta-sts.{{ domain }} manual

<VirtualHost _default_:443>
  DocumentRoot /srv/www/mta-sts/html
  ServerName mta-sts.{{ domain }}

  ErrorLog logs/mta-sts.{{ domain }}/ssl_error_log
  TransferLog logs/mta-sts.{{ domain }}/ssl_access_log
  LogLevel warn

  SSLEngine on
  SSLHonorCipherOrder on
  SSLCipherSuite PROFILE=SYSTEM
  SSLProxyCipherSuite PROFILE=SYSTEM

  CustomLog logs/mta-sts.{{ domain }}/ssl_request_log \
    "%t %h %{SSL_PROTOCOL}x %{SSL_CIPHER}x \"%r\" %b"
</VirtualHost>

{% endfor %}
# vim: ts=8 sts=2 sw=2 et
