[Unit]
Description=IPA Healthcheck for node exporter
ConditionPathExists=/srv/node-exporter

[Service]
Type=exec
ExecStart=/usr/local/sbin/ipa-healthcheck-prometheus
Environment=IPA_HEALTHCHECK_PROMETHEUS_OUTPUT_DIR=/srv/node-exporter
