module postfix-sssd-ifp 1.0;

require {
        type postfix_cleanup_t;
        type postfix_master_t;
        type unconfined_service_t;
        class unix_stream_socket connectto;
}

allow postfix_cleanup_t unconfined_service_t:unix_stream_socket connectto;
allow postfix_master_t unconfined_service_t:unix_stream_socket connectto;
